

    <div class="sidebar" data="blue">
      <div class="sidebar-wrapper">
        
        <div class="logo">
          <a 
             href="{% url 'app:home' %}" class="simple-text logo-mini">
            BD
          </a>
          <a
             href="{% url 'app:home' %}" class="simple-text logo-normal">
            SKF
          </a>
        </div>
        
        <ul class="nav">
        {% if request.user.is_authenticated %}
          <li class="{% if 'index' in segment %} active {% endif %} ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="{% url 'profile' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p>Logout</p>
            </a>
          </li>     
        {% else %}
          <li class="active">
            <a 
              href="#">
              <i class="tim-icons icon-single-02"></i>
              <p>Account</p>
            </a>
          </li>   
        {% endif %}    
        </ul>
      </div>
    </div>
