{% extends "layouts/base.html" %}

{% block title %} Reset Password Done {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card"> 
                <div class="card-header">
                  <h5 class="title">Reset Password Done</h5>
                </div>

                <div class="card-body">
                    <div class="alert alert-info">
                        An email has been sent with instructions to reset your password
                    </div>
                </div>
            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
